﻿@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #4CAF50;
                    color: white;
                }

        .description {
            text-align: center;
            margin-top: 50px;
            font-style: italic;
            font-size: 24px;
        }

        .invoices-table,
        .contracts-table {
            margin-top: 20px;
            text-align: center;
        }

        .table-wrapper {
            width: 80%;
            margin: 0 auto;
            overflow-x: auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <div class="topnav" id="myTopnav">
        <a class="active" onclick="loadDashboard()">Home</a>
        <a href="javascript:void(0);" onclick="loadInvoices()">Invoices</a>
        <a href="javascript:void(1);" onclick="loadUsers()">User Management</a>
    </div>

    <div class="description" id="welcomeMessage">
        <p>Welcome to the Admin Page.</p>
    </div>

    <div class="dashboard">
        <canvas id="invoiceChart"></canvas>
    </div>

    <div class="user-management" id="userManagement"></div>

    <div class="invoices-table" id="invoicesContent"></div>

    <div class="profile" id="profile"></div>

    <script>
        function loadDashboard() {
            // Hide other contents
            $("#invoicesContent").hide();
            $("#userManagement").hide();
            $("#profile").hide();
            $("#welcomeMessage").hide();

            // Show dashboard content
            $(".dashboard").show();

            // Fetch invoice data and update the chart
            $.get('@Url.Action("GetInvoiceData", "Dashboard")', function (data) {
                invoiceChart.data.datasets[0].data = [data.paid, data.unpaid];
                invoiceChart.update();
            });
        }

        function loadInvoices() {
            $("#userManagement").hide();
            $("#profile").hide();
            $("#welcomeMessage").hide();
            $(".dashboard").hide();
            $("#invoicesContent").show();

            var isAdmin = '@ViewData["isAdmin"]';
            var url = '@Url.Action("Invoice", "Accounts")?isAdmin=' + isAdmin;
            $.get(url, function (data) {
                $("#invoicesContent").html(data);
            });
        }

        function loadUsers() {
            $("#invoicesContent").hide();
            $("#profile").hide();
            $("#welcomeMessage").hide();
            $(".dashboard").hide();
            $("#userManagement").show();

            var isAdmin = '@ViewData["isAdmin"]';
            var url = '@Url.Action("UserManagement", "UserManagement")?isAdmin=' + isAdmin;
            $.get(url, function (data) {
                $("#userManagement").html(data);
            });
        }



        $(document).ready(function () {
            $("#invoicesContent").hide();
            $("#userManagement").hide();
            $("#profile").hide();
            $("#welcomeMessage").show();

            var ctx = document.getElementById('invoiceChart').getContext('2d');
            var invoiceChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Paid', 'Unpaid'],
                    datasets: [{
                        label: 'Invoices',
                        data: [0, 0], // This will be updated with actual data
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Fetch initial invoice data
            $.get('@Url.Action("GetInvoiceData", "Dashboard")', function (data) {
                invoiceChart.data.datasets[0].data = [data.paid, data.unpaid];
                invoiceChart.update();
            });
        });
    </script>
</body>
</html>
