﻿@model Learning.Models.Invoice

@{
    ViewBag.Title = "Edit Invoice";
}

<h2>Edit Invoice</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id) <!-- Assuming Id is the identifier of the invoice -->

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerName)
        @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfCreation)
        @Html.TextBoxFor(model => model.DateOfCreation, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate)
        @Html.TextBoxFor(model => model.DueDate, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount)
        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
