﻿@{
    ViewData["Title"] = "Invoice";
}



<div class="contracts-table" id="contractsContent">
    <h2>Invoices</h2>
    <button class="btn btn-primary" id="addInvoice">Add Invoice</button>
    <table class="table table-striped" id="dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Date of Creation</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>NID</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var invoice in Model)
                {
                    <tr>
                        <td>@invoice.Id</td>
                        <td>@invoice.CustomerName</td>
                        <td>@invoice.DateOfCreation</td>
                        <td>@invoice.DueDate</td>
                        <td>@invoice.Amount</td>
                        <td>@invoice.NID</td>
                        <td>@invoice.Status</td>
                          <td>
                            <button type="button" class="btn btn-outline-primary edit" data-invoice-id="@invoice.Id">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger deleteStatus" data-invoice-id="@invoice.Id">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!-- Modal for Editing -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Invoice</h5>
                <button id="closeEdit" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="invoiceId">
                    <!-- Editable fields go here -->
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" class="form-control" id="customerNameEdit" name="customerName">
                    </div>
                    <div class="form-group">
                        <label for="dateOfCreation">Date of Creation</label>
                        <input class="form-control" id="dateOfCreationEdit" name="dateOfCreation">
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <input class="form-control" id="dueDateEdit" name="dueDate">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amountEdit" name="amount">
                    </div>
                    <div class="form-group">
                        <label for="NID">NID</label>
                        <input type="text" class="form-control" id="NIDEdit" name="NID">
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="statusEdit" name="status">
                            <option value="Unpaid">Unpaid</option>
                            <option value="Paid">Paid</option>
                        </select>
                    </div>
                    <!-- Add more fields as needed -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closemedit">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!-- Pop-out view for adding an invoice -->
<div class="modal fade" id="addInvoiceModal" tabindex="-1" role="dialog" aria-labelledby="addInvoiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addInvoiceModalLabel">Add Invoice</h5>
                <button id="closeX" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form for adding an invoice -->
                <!-- You can customize this form as per your requirements -->
                <form id="addInvoiceForm" method="post">
                    <div class="form-group">
                        <label for="customerName">Customer Name</label>
                        <input type="text" class="form-control" id="customerNameAdd" name="customerName">
                    </div>
                    <div class="form-group">
                        <label for="dateOfCreation">Date of Creation</label>
                        <input type="date" class="form-control" id="dateOfCreationAdd" name="dateOfCreation">
                    </div>
                    <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <input type="date" class="form-control" id="dueDateAdd" name="dueDate">
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amountAdd" name="amount">
                    </div>
                    <div class="form-group">
                        <label for="NID">NID</label>
                        <input type="text" class="form-control" id="NIDAdd" name="NID">
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="statusAdd" name="status">
                            <option value="Unpaid">Unpaid</option>
                            <option value="Paid">Paid</option>
                        </select>
                    </div>
                    <button type="button" id="submitInvoice" class="btn btn-primary">Submit</button>
                    <button type="button" id="closeButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
    $('#addInvoice').click(function () {
        $('#addInvoiceModal').modal('show'); 
    });
    $('#closeButton').click(function () {
        $('#addInvoiceModal').modal('hide'); 
    });
    $('#closeX').click(function () {
        $('#addInvoiceModal').modal('hide');
    });
    $('#closemedit').click(function () {
        $('#editModal').modal('hide'); 
    });
    $('#closeEdit').click(function () {
        $('#editModal').modal('hide'); 
    });
    $(document).ready(function () {

    //create an invoice
    $('#submitInvoice').click(function () {
        // Get values from form fields
        var customerName = $('#customerNameAdd').val();
        var dateOfCreation = $('#dateOfCreationAdd').val();
        var dueDate = $('#dueDateAdd').val();
        var amount = $('#amountAdd').val();
        var status = $('#statusAdd').val();
        var NID = $('#NIDAdd').val();

        console.log(customerName);

        // Check if any field is empty
        if (!customerName || !dateOfCreation || !dueDate || !amount || !status) {
            // If any field is empty, display an error message
            alert('Please fill in all fields.');
            return; // Stop form submission
        }

        // If all fields are filled, proceed with form submission
        var formData = {
            customerName: customerName,
            dateOfCreation: dateOfCreation,
            dueDate: dueDate,
            amount: amount,
            status: status,
            NID: NID
        };

        // Proceed with AJAX request
        $.ajax({
            url: '/api/invoice', // Manually specify the URL
            type: 'POST',
            contentType: 'application/json',
            headers: {
                 'Authorization': 'Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJleGFtcGxlQGV4YW1wbGUuY29tIiwianRpIjoiZjU1NDNjNTQtMWY0YS00Njg0LWIyYTctNGJkMjRmMzM0NzA2IiwiVXNlcklkIjoiMSIsIlVzZXJOYW1lIjoiSm9obiBEb2UiLCJJc0FkbWluIjoiVHJ1ZSIsImV4cCI6MTcxODQ0OTc3NiwiaXNzIjoiRmFrdWx0ZXRpaXNoa2VuY2F2ZXRlbmF0eXJlcyIsImF1ZCI6IkZha3VsdGV0aWlzaGtlbmNhdmV0ZW5hdHlyZXMifQ.2XSWl1RiP7EIYU_hP8iDErJhe1UF2PaIrVuZwGftd6o" // Assume you store the JWT token in local storage
            },
            data: JSON.stringify(formData),
            success: function (data) {
                // Handle success response
                $("#contractsContent").html(data);
            },
            error: function (xhr, status, error) {
                console.error('Error creating invoice:', error);
                // Handle errors here
            }
        });
        $('#addInvoiceModal').modal('hide'); // Show the add invoice modal

    });
    });
    $(document).ready(function () {
        // Event listener for delete buttons with class 'deleteStatus'
        $('.deleteStatus').click(function () {
            var invoiceId = $(this).data('invoice-id'); // Get the invoice ID from data attribute
            var $button = $(this); // Cache the reference to the button

            if (confirm('Are you sure you want to delete this invoice?')) {
                $.ajax({
                    url: '/api/invoice' + '?id=' + invoiceId,
                    type: 'DELETE',
                    contentType: 'application/json',
                    headers: {
                        'Authorization': 'Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJleGFtcGxlQGV4YW1wbGUuY29tIiwianRpIjoiZjU1NDNjNTQtMWY0YS00Njg0LWIyYTctNGJkMjRmMzM0NzA2IiwiVXNlcklkIjoiMSIsIlVzZXJOYW1lIjoiSm9obiBEb2UiLCJJc0FkbWluIjoiVHJ1ZSIsImV4cCI6MTcxODQ0OTc3NiwiaXNzIjoiRmFrdWx0ZXRpaXNoa2VuY2F2ZXRlbmF0eXJlcyIsImF1ZCI6IkZha3VsdGV0aWlzaGtlbmNhdmV0ZW5hdHlyZXMifQ.2XSWl1RiP7EIYU_hP8iDErJhe1UF2PaIrVuZwGftd6o" // Assume you store the JWT token in local storage
                    },
                    success: function (response) {
                        alert('Invoice deleted successfully');
                        $button.closest('tr').remove();
                        // Reload the page after successful deletion
                        $.get("@Url.Action("Invoice", "Accounts")?isAdmin=True", function (data) {
                            $("#contractsContent").html(data);
                        });
                    },
                    error: function (xhr, status, error) {
                        // Handle error if deletion fails
                        console.error(xhr.responseText);
                        alert('Failed to delete invoice');
                    }
                });

            }
        });
    });

    $('.edit').click(function () {
        // Get the invoice ID
        var invoiceId = $(this).data('invoice-id');

        // Here, you can fetch the data associated with this invoice ID
        // from your database via AJAX and populate the modal fields
        var row = $(this).closest('tr'); // Get the closest row to the clicked edit button

        // Retrieve data from the row
        var customerName = row.find('td:nth-child(2)').text().trim(); // Customer Name
        var dateOfCreation = row.find('td:nth-child(3)').text().trim(); // Date of Creation
        var dueDate = row.find('td:nth-child(4)').text().trim(); // Due Date
        var amount = row.find('td:nth-child(5)').text().trim(); // Amount
        var status = row.find('td:nth-child(7)').text().trim(); // Status
        var NID = row.find('td:nth-child(6)').text().trim(); // Status


        // Set the values of modal fields with the fetched data
        $('#customerNameEdit').val(customerName);
        $('#dateOfCreationEdit').val(dateOfCreation);
        $('#dueDateEdit').val(dueDate);
        $('#amountEdit').val(amount);
        $('#statusEdit').val(status);
        $('#NIDEdit').val(NID);


        // Show the modal
        $('#editModal').modal('show');

        // Save original values for comparison
        var originalValues = {
            customerName: customerName,
            dateOfCreation: dateOfCreation,
            dueDate: dueDate,
            amount: amount,
            status: status,
            NID: NID
        };

        // Handle submit button click
        $('#saveChanges').click(function () {
            // Retrieve current values from modal
            var currentValues = {
                customerName: $('#customerNameEdit').val().trim(),
                dateOfCreation: $('#dateOfCreationEdit').val().trim(),
                dueDate: $('#dueDateEdit').val().trim(),
                amount: $('#amountEdit').val().trim(),
                status: $('#statusEdit').val().trim(),
                NID: $('#NIDEdit').val().trim()

            };
            console.log(currentValues)
            var invoice = {
                customerName: currentValues.customerName,
                dateOfCreation: currentValues.dateOfCreation ? new Date(currentValues.dateOfCreation).toISOString() : null,
                dueDate: currentValues.dueDate ? new Date(currentValues.dueDate).toISOString() : null,
                amount: currentValues.amount,
                status: currentValues.status,
                NID: currentValues.NID
            };



            if (JSON.stringify(originalValues) !== JSON.stringify(currentValues)) {

                if (confirm("Are you sure you want to update the database?")) {
                    console.log(invoice)

                    $.ajax({
                        url: '/api/invoice' + '?id=' + invoiceId,
                        type: 'PUT',
                        contentType: 'application/json',
                        headers: {
                            'Authorization': 'Bearer ' + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJleGFtcGxlQGV4YW1wbGUuY29tIiwianRpIjoiZjU1NDNjNTQtMWY0YS00Njg0LWIyYTctNGJkMjRmMzM0NzA2IiwiVXNlcklkIjoiMSIsIlVzZXJOYW1lIjoiSm9obiBEb2UiLCJJc0FkbWluIjoiVHJ1ZSIsImV4cCI6MTcxODQ0OTc3NiwiaXNzIjoiRmFrdWx0ZXRpaXNoa2VuY2F2ZXRlbmF0eXJlcyIsImF1ZCI6IkZha3VsdGV0aWlzaGtlbmNhdmV0ZW5hdHlyZXMifQ.2XSWl1RiP7EIYU_hP8iDErJhe1UF2PaIrVuZwGftd6o" // Assume you store the JWT token in local storage
                        },
                        data: JSON.stringify(invoice),
                        success: function (data) {
                            alert('Changes are successful!');
                            $.get("@Url.Action("Invoice", "Accounts")?isAdmin=True", function (data) {
                                $("#contractsContent").html(data);
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error("Error updating database:", error);
                        }
                    });
                }
            } else {
                // No changes, do nothing or show a message
                alert('No changes');
            }
            $('#editModal').modal('hide'); // Show the add invoice modal
        });
    });


    

</script>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}