﻿@{
    ViewData["Title"] = "InvoiceUser";
}

<div class="contracts-table" id="contractsContent">
    <h2>Invoices</h2>
    <table class="table table-striped" id="pagination">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer Name</th>
                <th>Date of Creation</th>
                <th>Due Date</th>
                <th>Amount</th>
                <th>NID</th>
                <th>Status</th>
                <th>Action</th> <!-- Add a new column for action -->
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var invoice in Model)
                {
                    <tr>
                        <td>@invoice.Id</td>
                        <td>@invoice.CustomerName</td>
                        <td>@invoice.DateOfCreation</td>
                        <td>@invoice.DueDate</td>
                        <td>@invoice.Amount</td>
                        <td>@invoice.NID</td>
                        <td>@invoice.Status</td>
                        <td>
                            @if (invoice.Status != "Paid")
                            {
                                <a class="pay-btn" asp-controller="Payment" asp-action="CreateCheckoutSession" asp-route-invoiceId="@invoice.Id" asp-route-amount="@invoice.Amount" asp-route-name="@invoice.CustomerName" asp-route-nid="@invoice.NID">Pay</a>
                            }
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>



