﻿@model Learning.Models.LoginModel

<style>
    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-register {
        background-color: #28a745;
        border-color: #28a745;
    }

        .btn-register:hover {
            background-color: #218838;
            border-color: #218838;
        }
</style>



<h2>User Login</h2>


<form method="post">

    <input type="hidden" id="LoginViewModelToken" asp-for="Token" />
    <div class="form-group">
        <label asp-for="Email">Email Address</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div> 

    <!-- Google reCAPTCHA widget -->
    <div class="form-group">
        <div class="g-recaptcha" data-sitekey="YOUR_SITE_KEY"></div>
    </div>

    @{
        if (ViewData["UserNotFoundError"] != null)
        {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["UserNotFoundError"]
                    </div>
        }else
        {
            
        }
    }
    <button id="signInButton" type="submit" class="btn btn-primary">Sign In</button>
    <a class="btn btn-register" asp-area="" asp-controller="Accounts" asp-action="Register">Register</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LciTbQpAAAAAAQZq8mWaytH5-3Y82Hs6_Vll_wi"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>


    function getToken() {
        grecaptcha.enterprise.ready(function () {
            grecaptcha.enterprise.execute('6LciTbQpAAAAAAQZq8mWaytH5-3Y82Hs6_Vll_wi', { action: 'LOGIN' })
                .then(function (token) {
                    console.log("Token: " + token);
                    document.getElementById("LoginViewModelToken").value = token;
                })
                .catch(function (error) {
                    console.error('Error executing reCAPTCHA:', error);
                });
        });
    }


    $(document).ready(function () {
        getToken();

        setInterval(getToken, 115000);

    });

       


</script>