﻿@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #4CAF50;
                    color: white;
                }

            .topnav .icon {
                display: none;
            }

        .description {
            text-align: center;
            margin-top: 50px;
            font-style: italic;
            font-size: 24px;
        }

        .invoices-table,
        .contracts-table {
            margin-top: 20px;
            text-align: center;
        }

        .table-wrapper {
            width: 80%;
            margin: 0 auto; /* Center the table horizontally */
            overflow-x: auto; /* Enable horizontal scrolling if needed */
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>

    <div class="topnav" id="myTopnav">
        <a class="active" id="homeUser">Home</a>
        <a href="javascript:void(0);" onclick="loadInvoices()">Invoices</a>
        <a href="javascript:void(0);" onclick="loadProfile()">User Profile</a>
    </div>

    <div class="description" id="welcomeMessage">
        <p>Welcome, @ViewData["UserName"].</p>
    </div>

    <div class="profile" id="profile"></div>
    <div class="invoices-table" id="invoicesContent"></div>

    <script>
        function loadInvoices() {
            $("#invoicesContent").show();
            $("#welcomeMessage").hide();
            $("#profile").hide();

            var isAdmin = '@ViewData["isAdmin"]';
            var nid = '@ViewData["NID"]';
            var name = '@ViewData["UserName"]';
            var url = '@Url.Action("Invoice", "Accounts")?isAdmin=' + isAdmin + '&nid=' + nid + '&name=' + name;

            $.get(url, function (data) {
                $("#invoicesContent").html(data);
            });
        }

        function loadProfile() {
            $("#invoicesContent").hide();
            $("#welcomeMessage").hide();
            $("#profile").show();

            var nid = '@ViewData["NID"]';


            var url = '@Url.Action("Index", "Profile")?nid=' + nid;
            $.get(url, function (data) {
                $("#profile").html(data);
            });
        }
    </script>

</body>
</html>
