﻿@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="col-6 text-end">
    <a asp-controller="Category" asp-action="Create" class ="btn btn-primary">Create new Category</a>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.DisplayOrder
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>