﻿<div class="user-management" id="userManagement">
    <h1>User Management</h1>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Add User</button>

    <!-- User Management Table -->
    <table id="userManagementTable" class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Email</td>
                    <td>@user.Name</td>
                    <td>@(user.isAdmin ? "Admin" : "User")</td>
                    <td>
                        <button class="btn btn-sm btn-warning editUser">Edit</button>
                        <button class="btn btn-sm btn-danger deleteUser">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Add User Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addUserFormModal">
                    <div class="form-group">
                        <label for="usernameModal">Username</label>
                        <input type="text" class="form-control" id="usernameModal" name="usernameModal" required>
                    </div>
                    <div class="form-group">
                        <label for="userRoleModal">Role</label>
                        <select class="form-control" id="userRoleModal" name="userRoleModal" required>
                            <!-- Options will be dynamically added here -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailModal">Email</label>
                        <input type="email" class="form-control" id="emailModal" name="emailModal" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordModal">Password</label>
                        <input type="password" class="form-control" id="passwordModal" name="passwordModal" required>
                    </div>
                    <div class="form-group">
                        <label for="addressModal">Address</label>
                        <input type="text" class="form-control" id="addressModal" name="addressModal">
                    </div>
                    <div class="form-group">
                        <label for="phoneModal">Phone</label>
                        <input type="text" class="form-control" id="phoneModal" name="phoneModal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveUserModal">Save User</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Populate user role options when the modal is shown
        $('#addUserModal').on('shown.bs.modal', function () {
            $('#userRoleModal').empty();
            $('#userRoleModal').append(new Option('Admin', 'Admin'));
            $('#userRoleModal').append(new Option('User', 'User'));
        });

        // Handle form submission for adding a user using modal
        $('#saveUserModal').click(function () {
            var userData = {
                username: $('#usernameModal').val(),
                role: $('#userRoleModal').val(),
                email: $('#emailModal').val(),
                password: $('#passwordModal').val(),
                address: $('#addressModal').val(),
                phone: $('#phoneModal').val()
            };

            $.post('@Url.Action("AddUser", "UserManagement")', userData)
                .done(function () {
                    // Close the modal
                    $('#addUserModal').modal('hide');
                    // Reload the page to refresh the user list
                    location.reload();
                })
                .fail(function (response) {
                    // Handle errors (e.g., display error messages)
                    alert("Error: " + response.responseText);
                });
        });
    });
</script>
